
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 102.7rem;
}.americano-MsW {
  width: 100%;
  display: flex;
  flex-direction: column;

  .group-20-K3e {
    position: relative;
    border-radius: 1rem;
    flex-shrink: 0;
    margin-bottom: 18rem;
    width: 6.5rem;
    height: 5.6rem;
    cursor: pointer;

    .rectangle-12-erc {
      width: 6.5rem;
      height: 5.5rem;
      position: absolute;
      left: 0;
      top: 0.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #875656;
      border-radius: 1rem;
    }
    .x-N1v {
      width: 2.3rem;
      position: absolute;
      left: 2.1rem;
      top: 0;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 5.4rem;
      font-size: 3.6rem;
      font-weight: 400;
    }
  }
  .auto-group-2juy-sDa {
    flex-shrink: 0;
    margin: 0rem 0rem 3.8rem 24.4rem;
    width: calc(100% - 24.4rem);
    display: flex;
    align-items: flex-end;

    .pexels-anna-tarazevich-4927142-9-Pxc {
      object-fit: cover;
      vertical-align: top;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 7.1rem;
      width: 33rem;
      height: 43.1rem;
    }
    .auto-group-udmi-X3E {
      margin-bottom: 0.2rem;
      width: 38.2rem;
      flex-shrink: 0;

      .group-9-rrC {
        width: 100%;
        font-size: 3.6rem;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        background-color: #875656;
        margin-bottom: 1rem;
        box-sizing: border-box;
        border-radius: 1rem;
        font-weight: 400;
        white-space: nowrap;
        padding: 0rem 10.9rem 0rem 7.4rem;
        height: 5.9rem;
      }
      .group-10-itQ {
        box-sizing: border-box;
        padding: 1.9rem 2.4rem 3.5rem 2.4rem;
        width: 100%;
        height: 23.4rem;
        background-color: #875656;
        border-radius: 1rem;
        margin-bottom: 3.9rem;

        .kopi-susu-anwdnwiafnwaufbiwabfibbwafof-rp-12000-dkU {
          max-width: 29.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .group-53-vja {
        height: 6rem;
        display: flex;
        align-items: center;
        border-radius: 1.5rem;

        .component-1-gik {
          cursor: pointer;
          font-size: 2.4rem;
          display: flex;
          align-items: center;
          background-color: #976d6d;
          width: 6.3rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 5.3rem;
          line-height: 1.5;
          flex-shrink: 0;
          height: 100%;
          font-weight: 400;
          justify-content: center;
          border-radius: 1.5rem;
        }
        .component-2-ySx {
          width: 6.9rem;
          height: 100%;
          cursor: pointer;
          white-space: nowrap;
          align-items: center;
          background-color: #976d6d;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          margin-right: 4.9rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          border-radius: 1.5rem;
        }
        .component-3-sHS {
          font-size: 2.4rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.9rem;
          cursor: pointer;
          align-items: center;
          border-radius: 1.5rem;
          height: 100%;
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-weight: 400;
          background-color: #976d6d;
          justify-content: center;
        }
      }
    }
  }
  .auto-group-1bgk-oD2 {
    margin-left: 64.5rem;
    width: calc(100% - 64.5rem);
    height: 5.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .group-11-8FJ {
      padding: 0.843rem 1.7rem 1rem 2.1rem;
      align-items: center;
      border-radius: 1rem;
      background-color: #875656;
      flex-shrink: 0;
      margin-right: 2.7rem;
      box-sizing: border-box;
      height: 100%;
      display: flex;

      .vector-wTe {
        width: 3rem;
        height: 3.6586rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0.399rem 0rem;
      }
      .add-chart-qZ2 {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.4575rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .group-12-juJ {
      font-weight: 400;
      line-height: 1.5;
      background-color: #875656;
      border-radius: 1rem;
      flex-shrink: 0;
      height: 100%;
      color: #ffffff;
      align-items: center;
      font-family: Poppins, 'Source Sans Pro';
      width: 15.4rem;
      font-size: 2.4rem;
      white-space: nowrap;
      display: flex;
      justify-content: center;
    }
  }
}
