
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 103.7rem;
}.kopi-susu-cjA {
  width: 100%;
  display: flex;
  flex-direction: column;

  .group-13-kqN {
    margin-bottom: 16.5rem;
    width: 6.5rem;
    height: 5.6rem;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
    flex-shrink: 0;

    .rectangle-12-J6C {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #875656;
      border-radius: 1rem;
      width: 6.5rem;
      height: 5.5rem;
      position: absolute;
      left: 0;
      top: 0.1rem;
    }
    .x-zzc {
      width: 2.3rem;
      height: 5.4rem;
      position: absolute;
      top: 0;
      font-weight: 400;
      color: #ffffff;
      left: 2.1rem;
      font-size: 3.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-qvvr-gsS {
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 0rem 2.5rem 25.4rem;
    width: calc(100% - 25.4rem);
    display: flex;

    .pexels-anna-tarazevich-4927142-9-cm6 {
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 7.1rem;
      width: 33rem;
      height: 43.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-wruj-YPr {
      margin-bottom: 0.8rem;
      width: 38.2rem;
      flex-shrink: 0;

      .group-9-H6Y {
        padding: 0rem 11rem 0rem 9.8rem;
        font-size: 3.6rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        background-color: #875656;
        border-radius: 1rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        width: 100%;
        height: 5.9rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
      }
      .group-10-wgt {
        padding: 1.9rem 2.4rem 3.5rem 2.4rem;
        width: 100%;
        height: 23.4rem;
        background-color: #875656;
        border-radius: 1rem;
        margin-bottom: 3.3rem;
        box-sizing: border-box;

        .kopi-susu-anwdnwiafnwaufbiwabfibbwafof-rp-12000-URv {
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 29.6rem;
          font-size: 2.4rem;
        }
      }
      .group-50-MVi {
        align-items: center;
        border-radius: 1.5rem;
        height: 6rem;
        display: flex;

        .component-1-uGL {
          flex-shrink: 0;
          width: 6.3rem;
          height: 100%;
          display: flex;
          margin-right: 5.3rem;
          white-space: nowrap;
          line-height: 1.5;
          color: #ffffff;
          cursor: pointer;
          font-size: 2.4rem;
          font-weight: 400;
          background-color: #976d6d;
          border-radius: 1.5rem;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
        }
        .component-2-BDr {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          cursor: pointer;
          line-height: 1.5;
          margin-right: 4.9rem;
          width: 6.9rem;
          font-size: 2.4rem;
          display: flex;
          background-color: #976d6d;
          border-radius: 1.5rem;
          font-weight: 400;
          white-space: nowrap;
          justify-content: center;
        }
        .component-3-Rtt {
          background-color: #976d6d;
          color: #ffffff;
          align-items: center;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          border-radius: 1.5rem;
          flex-shrink: 0;
          height: 100%;
          cursor: pointer;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          width: 5.9rem;
          line-height: 1.5;
        }
      }
    }
  }
  .auto-group-3yjy-KDa {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 65.8rem;
    width: calc(100% - 65.8rem);
    height: 5.9rem;

    .group-11-Fd2 {
      flex-shrink: 0;
      margin-right: 2.4rem;
      box-sizing: border-box;
      padding: 0.972rem 1.7rem 1rem 1.9rem;
      height: 100%;
      align-items: center;
      border-radius: 1rem;
      display: flex;
      background-color: #875656;

      .vector-y3E {
        flex-shrink: 0;
        margin: 0rem 1.2rem 0.363rem 0rem;
        width: 3rem;
        height: 3.5647rem;
        object-fit: contain;
        vertical-align: top;
      }
      .add-chart-V1a {
        margin-top: 0.3276rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-12-nWU {
      width: 15.4rem;
      justify-content: center;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      flex-shrink: 0;
      height: 100%;
      font-size: 2.4rem;
      font-weight: 400;
      background-color: #875656;
      border-radius: 1rem;
      line-height: 1.5;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
    }
  }
}
