
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-o8C {
  width: 100%;
  height: 102.4rem;

  .login--cLY {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;

    .pexels-polina-tankilevitch-4109751-2-WaL {
      position: absolute;
      left: -81.6rem;
      top: -84.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 221.2rem;
      height: 300rem;
    }
    .login-BwN {
      font-family: Poly, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 29.9rem;
      text-align: center;
      font-size: 7.5rem;
      font-weight: 400;
      width: 23rem;
      height: 9rem;
      left: 60.4rem;
      line-height: 1.19;
      color: #000000;
    }
    .image-1-SMW {
      height: 22.8rem;
      position: absolute;
      left: 60.7rem;
      top: 4.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 22.5rem;
    }
    .group-39-ZS8 {
      padding: 1.6rem 2.15rem;
      left: 38.8rem;
      font-weight: 400;
      border: solid 0.5rem #000000;
      align-items: baseline;
      box-sizing: border-box;
      width: 64.6rem;
      position: absolute;
      color: rgba(0, 0, 0, 0.349999994);
      display: flex;
      top: 47.5rem;
      text-align: center;
      font-size: 3.5rem;
      line-height: 1.19;
      height: 7.4rem;
      font-family: Poly, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #ffffff;

      .group-39-ZS8-sub-0 {
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 1.19;
        color: rgba(0, 0, 0, 0.25);
        font-family: Poly, 'Source Sans Pro';
      }
      .group-39-ZS8-sub-1 {
      }
    }
    .group-38-b9r {
      box-sizing: border-box;
      text-align: center;
      line-height: 1.19;
      white-space: nowrap;
      border: solid 0.5rem #000000;
      width: 64.6rem;
      left: 38.8rem;
      top: 61.7rem;
      font-family: Poly, 'Source Sans Pro';
      padding: 1.6rem 2.7rem;
      height: 7.4rem;
      color: rgba(0, 0, 0, 0.25);
      position: absolute;
      font-size: 3.5rem;
      font-weight: 400;
      background-color: #ffffff;
    }
    .component-3-2W4 {
      width: 13.3rem;
      white-space: nowrap;
      border-radius: 1.5rem;
      position: absolute;
      top: 73rem;
      line-height: 1.5;
      display: flex;
      height: 6rem;
      left: 90.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #976d6d;
    }
  }
}
