
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 102.5rem;
}.matcha-coffe-Uxp {
  display: flex;
  flex-direction: column;
  width: 100%;

  .group-18-SPr {
    height: 5.6rem;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
    flex-shrink: 0;
    margin-bottom: 17.3rem;
    width: 6.5rem;

    .rectangle-12-BcL {
      height: 5.5rem;
      position: absolute;
      left: 0;
      top: 0.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #875656;
      border-radius: 1rem;
      width: 6.5rem;
    }
    .x-Vd2 {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      line-height: 1.5;
      left: 2.1rem;
      top: 0;
      font-size: 3.6rem;
      font-weight: 400;
      color: #ffffff;
      width: 2.3rem;
      height: 5.4rem;
    }
  }
  .auto-group-wy56-nc8 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0rem 1.2rem 24.2rem;
    width: calc(100% - 24.2rem);
    height: 43.1rem;

    .pexels-anna-tarazevich-4927142-9-78c {
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 7.1rem;
      width: 33rem;
      height: 43.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-h552-QtQ {
      margin: 2.7rem 0rem 1.4rem 0rem;
      width: 38.2rem;
      height: calc(100% - 4.1rem);
      flex-shrink: 0;

      .group-9-w7e {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #875656;
        padding: 0rem 5.3rem 0rem 6.2rem;
        height: 5.9rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        border-radius: 1rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        width: 100%;
        font-size: 3.6rem;
      }
      .group-10-R2p {
        width: 100%;
        height: 23.4rem;
        background-color: #875656;
        border-radius: 1rem;
        margin-bottom: 2.7rem;
        box-sizing: border-box;
        padding: 1.9rem 2.4rem 3.5rem 2.4rem;

        .kopi-susu-anwdnwiafnwaufbiwabfibbwafof-rp-12000-MBN {
          font-family: Poppins, 'Source Sans Pro';
          max-width: 29.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
        }
      }
      .group-52-qcL {
        margin-left: 0.3rem;
        height: 6rem;
        display: flex;
        align-items: center;
        border-radius: 1.5rem;

        .component-1-mVz {
          border-radius: 1.5rem;
          flex-shrink: 0;
          font-weight: 400;
          justify-content: center;
          font-size: 2.4rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #976d6d;
          margin-right: 5.3rem;
          width: 6.3rem;
          color: #ffffff;
          display: flex;
          align-items: center;
          height: 100%;
          cursor: pointer;
          white-space: nowrap;
        }
        .component-2-4jz {
          margin-right: 4.9rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          width: 6.9rem;
          height: 100%;
          cursor: pointer;
          font-size: 2.4rem;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #976d6d;
          border-radius: 1.5rem;
          color: #ffffff;
        }
        .component-3-kMv {
          width: 5.9rem;
          cursor: pointer;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-size: 2.4rem;
          line-height: 1.5;
          display: flex;
          font-weight: 400;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #976d6d;
          border-radius: 1.5rem;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-tpwi-24Y {
    margin-left: 64.6rem;
    width: calc(100% - 64.6rem);
    height: 5.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .group-11-MMi {
      margin-right: 2.4rem;
      padding: 1.2rem 1.7rem 1.1rem 2.1rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #875656;
      border-radius: 1rem;
      box-sizing: border-box;
      flex-shrink: 0;

      .vector-5Yc {
        margin: 0rem 1rem 0.2rem 0rem;
        width: 3rem;
        height: 3.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .add-chart-Qqn {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .group-12-wap {
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 1rem;
      flex-shrink: 0;
      line-height: 1.5;
      align-items: center;
      height: 100%;
      font-size: 2.4rem;
      font-weight: 400;
      background-color: #875656;
      width: 15.4rem;
      justify-content: center;
      display: flex;
    }
  }
}
