
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sign-up-fct {
  width: 100%;
  height: 102.4rem;

  .sign-in--pkg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;

    .pexels-polina-tankilevitch-4109745-3-NXJ {
      left: -79.1rem;
      top: 0.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 172.5rem;
      height: 106.3rem;
      position: absolute;
    }
    .sign-up-6CQ {
      width: 28.6rem;
      height: 9rem;
      left: 57.7rem;
      top: 9.5rem;
      text-align: center;
      font-size: 7.5rem;
      font-weight: 400;
      line-height: 1.19;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      font-family: Poly, 'Source Sans Pro';
    }
    .group-40-PBW {
      font-family: Poly, 'Source Sans Pro';
      position: absolute;
      left: 39.7rem;
      white-space: nowrap;
      background-color: #ffffff;
      box-sizing: border-box;
      height: 7.4rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.349999994);
      align-items: baseline;
      border: solid 0.5rem #000000;
      width: 64.6rem;
      font-size: 3.5rem;
      line-height: 1.19;
      display: flex;
      padding: 1.6rem 2.9rem;
      top: 32.4rem;

      .group-40-PBW-sub-0 {
        color: rgba(0, 0, 0, 0.25);
        font-family: Poly, 'Source Sans Pro';
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 1.19;
      }
      .group-40-PBW-sub-1 {
      }
    }
    .group-42-5Te {
      font-size: 3.5rem;
      color: rgba(0, 0, 0, 0.25);
      white-space: nowrap;
      background-color: #ffffff;
      height: 7.4rem;
      left: 39.7rem;
      line-height: 1.19;
      position: absolute;
      top: 62.6rem;
      font-family: Poly, 'Source Sans Pro';
      padding: 1.6rem 2.9rem;
      width: 64.6rem;
      border: solid 0.5rem #000000;
      box-sizing: border-box;
      font-weight: 400;
    }
    .group-41-LPa {
      position: absolute;
      color: rgba(0, 0, 0, 0.25);
      font-family: Poly, 'Source Sans Pro';
      width: 64.6rem;
      font-weight: 400;
      padding: 1.6rem 2.8rem;
      left: 39.7rem;
      top: 47.5rem;
      box-sizing: border-box;
      font-size: 3.5rem;
      line-height: 1.19;
      white-space: nowrap;
      border: solid 0.5rem #000000;
      background-color: #ffffff;
      height: 7.4rem;
    }
    .component-2-Buz {
      white-space: nowrap;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 74.7rem;
      font-size: 2.4rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      border-radius: 1.5rem;
      font-weight: 400;
      width: 13.3rem;
      align-items: center;
      height: 6rem;
      left: 91rem;
      line-height: 1.5;
      display: flex;
      background-color: #976d6d;
    }
  }
}
