
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 104rem;
}.vanilla-latte-MpL {
  align-items: flex-start;
  width: 100%;
  display: flex;

  .group-16-tJU {
    margin-right: 17.7rem;
    width: 6.5rem;
    height: 5.6rem;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
    flex-shrink: 0;

    .rectangle-12-zcQ {
      background-color: #875656;
      border-radius: 1rem;
      width: 6.5rem;
      height: 5.5rem;
      position: absolute;
      left: 0;
      top: 0.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .x-hFv {
      left: 2.1rem;
      top: 0;
      font-size: 3.6rem;
      line-height: 1.5;
      white-space: nowrap;
      width: 2.3rem;
      height: 5.4rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      font-weight: 400;
    }
  }
  .pexels-anna-tarazevich-4927142-9-Bwn {
    height: 43.1rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    flex-shrink: 0;
    margin: 23.2rem 7.1rem 0rem 0rem;
    width: 33rem;
  }
  .auto-group-mf7v-tbJ {
    width: 39.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 25.9rem;

    .auto-group-m6de-DtU {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 1.9rem;
      width: 100%;

      .group-9-ZhS {
        box-sizing: border-box;
        height: 5.9rem;
        font-size: 3.6rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 1.5rem 1rem 0rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        background-color: #875656;
        border-radius: 1rem;
        padding: 0rem 7.7rem 0rem 8.4rem;
      }
      .group-10-D1J {
        background-color: #875656;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 1.9rem;
        box-sizing: border-box;
        padding: 1.9rem 2.4rem 3.5rem 2.4rem;
        width: 38.2rem;
        height: 23.4rem;

        .kopi-susu-anwdnwiafnwaufbiwabfibbwafof-rp-12000-X1z {
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 29.6rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .group-47-bnY {
        height: 6rem;
        display: flex;
        align-items: center;
        border-radius: 1.5rem;
        flex-shrink: 0;

        .component-1-Yxg {
          width: 6.3rem;
          height: 100%;
          margin-right: 5.3rem;
          align-items: center;
          background-color: #976d6d;
          border-radius: 1.5rem;
          cursor: pointer;
          font-size: 2.4rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
        }
        .component-2-EKi {
          line-height: 1.5;
          justify-content: center;
          background-color: #976d6d;
          font-weight: 400;
          display: flex;
          cursor: pointer;
          font-size: 2.4rem;
          white-space: nowrap;
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-right: 4.9rem;
          height: 100%;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          width: 6.9rem;
          color: #ffffff;
        }
        .component-3-W2L {
          color: #ffffff;
          width: 5.9rem;
          white-space: nowrap;
          align-items: center;
          background-color: #976d6d;
          height: 100%;
          font-size: 2.4rem;
          display: flex;
          justify-content: center;
          border-radius: 1.5rem;
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 400;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .auto-group-fbgu-PM2 {
      width: 100%;
      height: 5.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-11-8ZW {
        margin-right: 4.2rem;
        box-sizing: border-box;
        background-color: #875656;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 1.2rem 1.7rem 1.1rem 2.1rem;
        height: 100%;
        display: flex;
        align-items: center;

        .vector-3wN {
          flex-shrink: 0;
          margin: 0rem 1rem 0.2rem 0rem;
          width: 3rem;
          height: 3.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .add-chart-xYY {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .group-12-GZE {
        width: 15.4rem;
        color: #ffffff;
        font-size: 2.4rem;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        background-color: #875656;
        height: 100%;
        border-radius: 1rem;
        flex-shrink: 0;
      }
    }
  }
}
