
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 103.6rem;
}.kopi-luwak-oXN {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.kopi-luwak-oXN .group-17-MYt {
  margin-right: 17.9rem;
  width: 6.5rem;
  height: 5.6rem;
  cursor: pointer;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.kopi-luwak-oXN .group-17-MYt .rectangle-12-hMr {
  width: 6.5rem;
  height: 5.5rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #875656;
  border-radius: 1rem;
}
.kopi-luwak-oXN .group-17-MYt .x-QGG {
  width: 2.3rem;
  height: 5.4rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.kopi-luwak-oXN .pexels-anna-tarazevich-4927142-9-7Ra {
  margin: 23.2rem 7.1rem 0rem 0rem;
  width: 33rem;
  height: 43.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.kopi-luwak-oXN .auto-group-medn-DjW {
  margin-top: 25.9rem;
  width: 39.1rem;
  flex-shrink: 0;
}
.kopi-luwak-oXN .auto-group-medn-DjW .group-9-9t4 {
  margin: 0rem 0.9rem 1rem 0rem;
  box-sizing: border-box;
  padding: 0rem 8.5rem 0rem 9.8rem;
  height: 5.9rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #875656;
  border-radius: 1rem;
}
.kopi-luwak-oXN .auto-group-medn-DjW .group-10-QZ6 {
  margin-bottom: 1.9rem;
  box-sizing: border-box;
  padding: 1.9rem 2.4rem 3.5rem 2.4rem;
  width: 38.2rem;
  height: 23.4rem;
  background-color: #875656;
  border-radius: 1rem;
}
.kopi-luwak-oXN .auto-group-medn-DjW .group-10-QZ6 .kopi-susu-anwdnwiafnwaufbiwabfibbwafof-rp-12000-8EC {
  max-width: 29.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.kopi-luwak-oXN .auto-group-medn-DjW .group-46-EHE {
  margin: 0rem 0rem 1.9rem 0.3rem;
  height: 6rem;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
}
.kopi-luwak-oXN .auto-group-medn-DjW .group-46-EHE .component-1-m2G {
  margin-right: 5.3rem;
  width: 6.3rem;
  height: 100%;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #976d6d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.kopi-luwak-oXN .auto-group-medn-DjW .group-46-EHE .component-2-TQt {
  margin-right: 4.9rem;
  width: 6.9rem;
  height: 100%;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #976d6d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.kopi-luwak-oXN .auto-group-medn-DjW .group-46-EHE .component-3-ZD2 {
  width: 5.9rem;
  height: 100%;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #976d6d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.kopi-luwak-oXN .auto-group-medn-DjW .auto-group-taxs-eVN {
  margin-left: 0.3rem;
  width: calc(100% - 0.3rem);
  height: 5.9rem;
  display: flex;
  align-items: center;
}
.kopi-luwak-oXN .auto-group-medn-DjW .auto-group-taxs-eVN .group-11-PC4 {
  margin-right: 3.3rem;
  box-sizing: border-box;
  padding: 1.2rem 1.7rem 1.1rem 2.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #875656;
  border-radius: 1rem;
  flex-shrink: 0;
}
.kopi-luwak-oXN .auto-group-medn-DjW .auto-group-taxs-eVN .group-11-PC4 .vector-WXa {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 3rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kopi-luwak-oXN .auto-group-medn-DjW .auto-group-taxs-eVN .group-11-PC4 .add-chart-FEG {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kopi-luwak-oXN .auto-group-medn-DjW .auto-group-taxs-eVN .group-12-As2 {
  width: 15.4rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #875656;
  border-radius: 1rem;
  flex-shrink: 0;
}
